.contact-container{
    min-height:100vh;
    background:#1e293b;
    color:#f8fafc;
    padding:60px 8%;
}

.contact-heading{
    text-align:center;
    margin-bottom:50px;
}

.contact-heading h1{
    font-size:48px;
    color:#38bdf8;
    margin-bottom:15px;
}

.contact-heading p{
    color:#cbd5e1;
    font-size:18px;
}

.contact-card{
    display:flex;
    gap:40px;
    background:#273449;
    padding:40px;
    border-radius:15px;
}

.contact-form{
    flex:2;
    display:flex;
    flex-direction:column;
}

.contact-form label{
    margin:12px 0 8px;
    color:#38bdf8;
}

.contact-form input,
.contact-form textarea{
    padding:14px;
    border:none;
    border-radius:8px;
    background:#1e293b;
    color:white;
    outline:none;
    border:1px solid #475569;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border:1px solid #38bdf8;
}

.contact-form button{
    margin-top:25px;
    padding:14px;
    background:#38bdf8;
    color:#111827;
    font-size:17px;
    font-weight:bold;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    background:#0ea5e9;
}

.contact-info{
    flex:1;
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    border:1px solid #38bdf8;
}

.contact-info h2{
    color:#38bdf8;
    margin-bottom:20px;
}

.contact-info p{
    color:#cbd5e1;
    margin-bottom:18px;
    line-height:1.7;
}

@media(max-width:900px){

.contact-card{
    flex-direction:column;
}

.contact-container{
    padding:40px 20px;
}

.contact-heading h1{
    font-size:36px;
}

}